<header ng-switch on="$location.path().indexOf('/RoomEntities/new') > -1">
    <h3 ng-switch-when="true">Create a new RoomEntity</h3>
    <h3 ng-switch-when="false">View or edit RoomEntity</h3>
</header>
<form id="RoomEntityForm" name="RoomEntityForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': RoomEntityForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required class="form-control" ng-model="roomEntity.name" placeholder="Enter the RoomEntity Name"></input>
            <span class="help-block error" ng-show="RoomEntityForm.name.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRoomEntity" name="saveRoomEntity" class="btn btn-primary" ng-disabled="isClean() || RoomEntityForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRoomEntity" name="deleteRoomEntity" class="btn btn-danger" ng-show="roomEntity.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>